{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <section id="hero">
    <div class="hero-container">
      <h1>Balouchi</h1>
      <h2>best shopping  </h2>
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"></a>
    </div>
    <div >
     <img src="assets\img\fashion-ecommerce.jpg" alt="Background" width="1920px" height="970px">
  </section><!-- End Hero -->
{% endblock %}
