{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
 <div class="row">
 	<table style="width:100%">
 		<p class="card-text"> <b> <i> <marquee> FOR WOMEN</marquee></i> </b></p>
 		<tr> <td>
      
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\girl1.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                  <p><font color="blue">  Article 1</font></p>
                  </h4>
                  <h5>69.99 TND</h5>
                  
                </div> 
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td>
            <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\girl2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 2</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
        </td>
        </tr>
        <tr>
            <td>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pont2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 3</font></p>
                  </h4>
                  <h5>35.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td>
            <td>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pont3.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 4</font></p>
                  </h4>
                  <h5>65.99 TND</h5>
                  
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> </tr>
            <tr>
            	<td>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\photo2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 5</font></p>
                  </h4>
                  <h5>27.99 TND</h5>
                  
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td>
            <td>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\photo3.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
				  <p><font color="blue">  Article 6</font></p>
                  </h4>
                  <h5>19.99 TND</h5>
                  
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> </tr>

            <tr> <td>
            <p class="card-text"> <b> <i><marquee> FOR CHILDREN</marquee> </i> </b></p> <</td> </tr>
             <tr>
            <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\petite1.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 7</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> 
            <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\petite2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 8</font></p>
                  </h4>
                  <h5>65.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div></td></tr>
            <tr> <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pontb3.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 9</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td>
            <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pont1.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 10</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> </tr>
            
            	
            <tr> <td>
            <p class="card-text"> <b> <i><marquee> FOR MEN</marquee> </i> </b></p> </td> </tr>
            <tr> <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\boy1.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 11</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> 

            <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\boy2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 12</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> </tr>
            <tr> <td>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pontb2.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 13</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td>
            <td>
            	<div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="assets\img\pontb1.jpg" alt="" width="700" height="400">
                <div class="card-body">
                  <h4 class="card-title">
                    <p><font color="blue">  Article 14</font></p>
                  </h4>
                  <h5>33.99 TND</h5>
                 
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div> </td> </tr>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
</tr>
</table>

    </div>
  
<ul class="dropdown-menu">
          <li><a href="{{path('ajouter_produit')}}"><i class="icon-cog"></i> Ajouter un produit</a></li>
         <li class="divider"></li>
         <li><a href="{{path('modifier_produit')}}"><i class="icon-off"></i> Modifier un produit</a></li>
         <li class="divider"></li>
         <li><a href="{{path('supprimer_produit')}}"><i class="icon-off"></i> Supprimer un produit</a></li>
     </ul>

{% endblock %}
